@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");
a {
    color: black !important;
}

.brand-logo {
    font-family: "Grand Hotel", cursive;
    font-size: 40px !important;
    padding-left: 20px !important;
}

h2 {
    margin: 50px;
}

h6 {
    text-align: center;
    text-decoration: solid;
}

i {
    color: dodgerblue;
}

.input-field input[type="text"]:focus {
    border-bottom: 1px solid rgb(214, 20, 20) !important;
    box-shadow: 0 1px 0 0 rgb(214, 20, 20) !important;
}

.input-field input[type="email"]:focus {
    border-bottom: 1px solid rgb(214, 20, 20) !important;
    box-shadow: 0 1px 0 0 rgb(214, 20, 20) !important;
}

.input-field input[type="password"]:focus {
    border-bottom: 1px solid rgb(214, 20, 20) !important;
    box-shadow: 0 1px 0 0 rgb(214, 20, 20) !important;
}

.input-field input[type="file"] {
    border-bottom: 1px solid rgb(214, 20, 20) !important;
    box-shadow: 0 1px 0 0 rgb(214, 20, 20) !important;
}

.row {
    margin-bottom: 5px !important;
}

p {
    display: block !important;
    margin-block-start: 0em !important;
    margin-block-end: 5px !important;
    margin-inline-start: 4px !important;
    margin-inline-end: 0px !important;
}

.auth-card {
    display: block;
    padding: 20px;
    text-align: center;
    margin: 40px auto;
    max-width: 400px;
    height: max-content !important;
}

.button-margin {
    margin: 15px auto;
}

.profile-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.profile-gallery-item {
    width: 30%;
}

.home-card {
    max-width: 550px;
    margin: 30px auto;
    height: max-content;
    word-break: break-all;
}