@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");
a {
    color: black !important;
}

.brand-logo {
    font-family: "Grand Hotel", cursive;
    font-size: 40px !important;
    padding-left: 20px !important;
}

h2 {
    margin: 50px;
}

h6 {
    text-align: center;
    text-decoration: solid;
}

i {
    color: dodgerblue;
}

.input-field input[type="text"]:focus {
    border-bottom: 1px solid rgb(214, 20, 20) !important;
    box-shadow: 0 1px 0 0 rgb(214, 20, 20) !important;
}

.input-field input[type="email"]:focus {
    border-bottom: 1px solid rgb(214, 20, 20) !important;
    box-shadow: 0 1px 0 0 rgb(214, 20, 20) !important;
}

.input-field input[type="password"]:focus {
    border-bottom: 1px solid rgb(214, 20, 20) !important;
    box-shadow: 0 1px 0 0 rgb(214, 20, 20) !important;
}

.input-field input[type="file"] {
    border-bottom: 1px solid rgb(214, 20, 20) !important;
    box-shadow: 0 1px 0 0 rgb(214, 20, 20) !important;
}

.row {
    margin-bottom: 5px !important;
}

.custom-row {
    display: flex;
    flex-direction: row;
}

p {
    display: block !important;
    margin-block-start: 0em !important;
    margin-block-end: 5px !important;
    margin-inline-start: 4px !important;
    margin-inline-end: 0px !important;
}

.auth-card {
    display: block;
    padding: 20px;
    text-align: center;
    margin: 40px auto;
    max-width: 400px;
    height: max-content !important;
}

.button-margin {
    margin: 15px auto;
}

img {
    display: block;
}

.visually-hidden {
    widows: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    color: #fff;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
}

.gallery-item {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    cursor: pointer;
    color: #fff;
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
    display: none;
}

.gallery-item-info li {
    font-weight: 600;
    font-size: 1.7rem;
    display: inline-block;
}

.gallery-item-likes {
    margin-right: 1.5rem;
}

.gallery-item-comments {
    margin-left: 2rem;
}

.home-card {
    max-width: 550px;
    margin: 30px auto;
    height: max-content;
    word-break: break-all;
}

.collection-item {
    width: 100%;
}

@supports (display: grid) {
    .gallery {
        width: auto;
        margin: 0;
    }
}